$primary: #0087FE;
$dark: #1F1F1D;
$white: #ffffff;
$light-white: rgba(255, 255, 255, 0.4);
$primary-dark: #0E75EA;
$gray: #9B9B99;


$color__background-body: $white;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $primary;
$color__text-input: $primary;
$color__text-input-focus: $dark;
$color__link: $primary; //royalblue
$color__link-visited: $primary;
$color__link-hover: $primary; //midnightblue
$color__text-main: $dark;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$gradient: radial-gradient(35.76% 44.26% at 5.1% 7.01%, rgba(0, 135, 254, 0.149164) 0%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%), radial-gradient(45% 104.25% at 85.62% 105.07%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%), linear-gradient(0deg, #1F1F1D, #1F1F1D), #1F1F1D;