@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

$font__main: 'Mulish', sans-serif;
$font__code: 'Mulish', sans-serif;
$font__pre: 'Mulish', sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font-normal: 400;
$font-bold: 700;

$font-size-small: 14px;
$font-size-normal: 16px;

$letter-spacing: 0.2px;