.banner-list {
    padding: $space-xxl 0;

    &__image {
        text-align: center;

        @include media-breakpoint-down(sm) {
            margin-top: $space-md;
        }
    }

    &--title {
        margin: $space-xs 0;
        font-size: $font-small-hero;

        @include media-breakpoint-down(md) {
            font-size: $font-title-small;
        }
    }


    &__buttons {
        margin-top: $space-lg;

        a:not(.btn) {
            color: $white;
            text-decoration: none;
            font-size: $font-size-normal;
        }

        a:not(:last-child) {
            margin-right: $space-md;
        }
    }
}