button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.btn {
	display: inline-block;
	padding: 12px 24px;
	font-size: $font-size-normal;
	border: 1px solid;
	color: $white;
	text-decoration: none;

	&-secondary {
		border-color: $white;

		&:hover {
			background-color: $light-white;
		}
	}

	&-primary {
		background-color: $primary;
		border-color: $primary;

		&:hover {
			color: $white;
			background-color: $primary-dark;
			border-color: $primary-dark;
		}
	}
}